<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="blog/layout" th:with="title='关于 |',active='about'">
<header th:replace="blog/layout::headerFragment(${title},${active})"></header>
<body>
<div layout:fragment="content">
    <div class="content-wrap">
        <div id="content" class="content">
            <div id="posts" class="posts-expand">
                <div class="post-block page" style="opacity: 1; display: block;">
                    <header class="post-header" style="opacity: 1; display: block; transform: translateY(0px);">
                        <h1 class="post-title" itemprop="name headline">关于</h1>
                    </header>
                    <div class="post-body" style="opacity: 1; display: block; transform: translateY(0px);">
                        <h2>开源地址</h2>
                        <blockquote>
                            <div>
                                <a href="https://github.com/Akanemiku/akane-blog" target="_blank">akane-blog</a>
                            </div>
                        </blockquote>
                        <h2>联系</h2>
                        <ul>
                            <li>QQ：806394913</li>
                            <li>Mail：yux.liu@foxmail.com</li>
                            <th:block th:each="index : ${commons.social()}">
                                <th:block th:if="${index.value} != null and ${index.value} != ''">
                                    <th:block th:switch="${index.key}">
                                        <th:block th:case="'github'">
                                            <li>GitHub：<a th:href="@{${index.value}}" target="_blank" th:text="${index.value}"></a></li>
                                        </th:block>
                                        <th:block th:case="'jianshu'">
                                            <li>简书：<a th:href="@{${index.value}}" target="_blank" th:text="${index.value}"></a></li>
                                        </th:block>
                                        <th:block th:case="'zhihu'">
                                            <li>知乎：<a th:href="@{${index.value}}" target="_blank" th:text="${index.value}"></a></li>
                                        </th:block>
                                        <th:block th:case="'csdn'">
                                            <li>CSDN：<a th:href="@{${index.value}}" target="_blank" th:text="${index.value}"></a></li>
                                        </th:block>
                                        <th:block th:case="'resume'">
                                            <li>简历：<a th:href="@{${index.value}}" target="_blank" th:text="${index.value}"></a></li>
                                        </th:block>
                                    </th:block>
                                </th:block>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>